.App { 
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('https://s3.stroi-news.ru/img/oboi-s-kotikami-v-komnatu-instagram-65.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: rgb(22, 21, 21); /* Чтобы текст был видим на фоне */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.add-cat-button {
  background-color: #ff4081;
  color: white;
  border: none;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.add-cat-button:hover {
  background-color: #e91e63;
}

.cats-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-card {
  margin: 20px;
  cursor: pointer;
}

.cat-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cat-image:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.modal img:hover {
  transform: scale(1.05);
}

.close-button {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-left: -40px; /* Сдвигаем фильтр влево */
  margin-right: 20px; /* Отступ между фильтром и кнопкой "+" */
}

.category-filter {
  background-color: #ff4081; /* Цвет фона фильтра */
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.category-filter:hover {
  background-color: #e91e63; /* Цвет при наведении */
}

/* Новый стиль для полей ввода */
.input-field {
  width: 100%;
  max-width: 300px; /* Максимальная ширина поля */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box; /* Чтобы паддинги не выходили за пределы */
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #ff4081; /* Цвет границы при фокусе */
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-field-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #27bb1a; /* Цвет фона для кнопки "Добавить" */
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px; /* Одинаковая форма для обеих кнопок */
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: auto; /* Автоматическая ширина для всех кнопок */
  margin: 10px 0; /* Отступы для кнопок */
  font-family: Arial, sans-serif; /* Один шрифт для всех кнопок */
}

/* Цвет фона для кнопки "Закрыть" */
button.close-button {
  background-color: #f44336; 
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px/* Красный цвет фона для кнопки "Закрыть" */
}

button:hover {
  background-color: #e91e63; /* Цвет фона при наведении */
}

button.close-button:hover {
  background-color: #e53935; /* Цвет фона при наведении для кнопки "Закрыть" */
}

button:disabled {
  background-color: #ccc; /* Стиль для неактивных кнопок */
  cursor: not-allowed;
}
